/F1-xopt.txt
/F10-R100.txt
/F10-R25.txt
/F10-R50.txt
/F10-p.txt
/F10-s.txt
/F10-w.txt
/F10-xopt.txt
/F11-R100.txt
/F11-R25.txt
/F11-R50.txt
/F11-p.txt
/F11-s.txt
/F11-w.txt
/F11-xopt.txt
/F12-xopt.txt
/F13-R100.txt
/F13-R25.txt
/F13-R50.txt
/F13-p.txt
/F13-s.txt
/F13-w.txt
/F13-xopt.txt
/F14-R100.txt
/F14-R25.txt
/F14-R50.txt
/F14-p.txt
/F14-s.txt
/F14-w.txt
/F14-xopt.txt
/F15-xopt.txt
/F2-xopt.txt
/F3-xopt.txt
/F4-R100.txt
/F4-R25.txt
/F4-R50.txt
/F4-p.txt
/F4-s.txt
/F4-w.txt
/F4-xopt.txt
/F5-R100.txt
/F5-R25.txt
/F5-R50.txt
/F5-p.txt
/F5-s.txt
/F5-w.txt
/F5-xopt.txt
/F6-R100.txt
/F6-R25.txt
/F6-R50.txt
/F6-p.txt
/F6-s.txt
/F6-w.txt
/F6-xopt.txt
/F7-R100.txt
/F7-R25.txt
/F7-R50.txt
/F7-p.txt
/F7-s.txt
/F7-w.txt
/F7-xopt.txt
/F8-R100.txt
/F8-R25.txt
/F8-R50.txt
/F8-p.txt
/F8-s.txt
/F8-w.txt
/F8-xopt.txt
/F9-R100.txt
/F9-R25.txt
/F9-R50.txt
/F9-p.txt
/F9-s.txt
/F9-w.txt
/F9-xopt.txt
